$blue-accent: #59DBE6;

.Results {
  background: #36363D;
  border-radius: 8px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  color: $blue-accent;
  display: inline-flex;
  flex-direction: column;
  height: 55%;
  justify-content: space-between;
  left: 2%;
  padding: 5rem 0;
  position: absolute;
  text-align: center;
  top: 8rem;
  width: 96%;
  z-index: 2;
  p {
    font-size: 2rem;
    margin: 0;
  }
}

.results-title {
  font-size: 3rem;
}

.points-gained {
  font-size: 2.5rem;
}

.results-divider {
  background-color: $blue-accent;
  height: 1px;
  margin: 0 auto;
  width: 80%;
}

.total-points-count {
  font-size: 3rem;
  font-weight: 700;
}

@media screen and (min-width: 700px) {
  .Results {
    filter: opacity(98%);
    left: calc(50% - 325px);
    width: 650px;
  }
}