$blue-accent: rgba(89, 219, 230, 1);
$btn-white: #e2e2e2;
$btn-gray: #40404B;

.Game {
  overflow: hidden;
}

h5 {
  margin: 0;
}

.account-text {
  color: $blue-accent;
  margin: 0;
  text-decoration: none;
}

.flag-main {
  height: 210px;
  margin: 4.5rem auto;
  text-align: center;
  width: 350px;
}

.flag-image {
  filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.3));
  max-height: 250px;
  max-width: 100%;
}

.hint-button {
  background-color: $btn-gray;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  color: $blue-accent;
  margin: 1.25rem auto;
  padding: 12px 0;
  text-align: center;
  text-shadow: 0 0 1rem black;
  width: 40%;
}

.hint-button-disabled {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  color: #11111D;
  text-shadow: none;
}

.option-button {
  background: $btn-white;
}



.hint-button {
  background-color: $btn-gray;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  color: $blue-accent;
  margin: 1.25rem auto;
  padding: 12px 0;
  text-align: center;
  text-shadow: 0 0 1rem black;
  width: 40%;
}

.hint-button-disabled {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  color: #11111D;
  text-shadow: none;
}

.option-button {
  background: $btn-white;
}

@media screen and (min-width: 535px) {
  .Game {
    max-width: 960px;
    margin: 0 auto;
  }

  .account-area {
    background: $btn-gray;
  }

  .flag-main {
    height: unset;
    margin: 5rem auto 0;
    max-height: 450px;
    max-width: 600px;
    width: unset;
  }
  
  .flag-image {
    max-height: unset;
    max-width: unset;
    width: 100%;
  }

  .hint-button:hover {
    background-color: $blue-accent;
    color: $btn-gray;
    cursor: pointer;
    text-shadow: none;
  }

  .hint-button-disabled:hover {
    background-color: $btn-gray;
    color: #11111D;
    cursor: unset;
  }

  .option-button {
    max-width: 500px;
    width: 60%
  }
}