$btn-white: #e2e2e2;

.flag-main {
  background: gainsboro;
  height: 210px;
  margin: 4.5rem auto;
  width: 350px;
}

.hint-text {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.option-button {
  background: $btn-white;
}