$blue-accent: #59DBE6;

.Hint {
  background: #36363D;
  border-radius: 8px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  color: $blue-accent;
  display: inline-flex;
  flex-direction: column;
  height: 55%;
  justify-content: space-between;
  left: 2%;
  padding: 5rem 0;
  position: absolute;
  text-align: center;
  top: 8rem;
  width: 96%;
  z-index: 2;
}

p {
  font-size: 2rem;
  margin: 0;
}

.hint-title {
  font-size: 3rem;
}

.hint-fact {
  padding: 0 1rem;
}

.hint-outline {
  padding: 0 1rem;
}