$blue-accent: rgba(89, 219, 230, 1);
// blue-accent HEX: #59DBE6
$btn-white: #e2e2e2;
$fb-blue: #3b5998;
$tw-blue: #1dcaff;

* {
  transition-duration: .2s;
}

.Login {
  background: left / cover url(../../Images/intros/flagGrid.png);
  background-repeat: repeat;
  background-position: center;
  height: 100vh;
  animation: flag-grid-slider 420s linear infinite;
}

.login-background-color {
  background: linear-gradient(rgba(12, 0, 254, .90) 3%, rgba(0, 0, 0, .90));
  height: 100%;
  width: 100%;
}

.login-title {
  color: #e2e2e2;
  font-family: 'Lobster';
  font-size: 4rem;
  letter-spacing: 2px;
  margin: 0;
  padding: 40% 0 20%;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

.login-title-small {
  color: #e2e2e2;
  font-family: 'Lobster';
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 0;
  padding: 1.5rem 0;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

.login-divider {
  display: inline-flex;
  justify-content: space-between;
  height: 5rem;
  margin: 2rem 20%;
  text-align: center;
  width: 60%;
}

.divider {
  background-color: #59DBE6;
  height: 1px;
  margin: 2.5rem 0;
  width: 3rem;
}

.login-divider-text {
  color: #59DBE6;
  font-size: 1.5rem;
  letter-spacing: -2px;
  margin: 1.5rem 0;
}

.login-button-facebook {
  background-color: $fb-blue;
  color: $btn-white;
}

.login-button-twitter {
  background-color: $tw-blue;
}

.login-button-email {
  background-color: $btn-white;
}

.login-button-email,
.login-button-facebook,
.login-button-twitter,
.login-input {
  border-radius:3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  font-weight: 700;
  margin: 1.25rem auto;
  padding: 12px 0;
  text-align: center;
  transition-duration: .05s;
  width: 80%;
}

.login-back {
  border: none;
  border-radius:3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  font-size: 1rem;
  font-weight: 700;
  margin: 1.25rem auto;
  outline: none;
  padding: 12px 0;
  text-align: center;
  transition-duration: .05s;
  width: 100%;
}

.login-form {
  padding: 0 10%;
  width: 80%;
}

.form-instructions {
  color: $blue-accent;
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}

.login-signup-slider {
  color: $blue-accent;
  display: inline-flex;
  font-size: 1.5rem;
  justify-content: space-around;
  margin: 1rem auto;
  width: 100%;
}

.form-slider {
  border: 2px solid $blue-accent;
  border-radius: 1rem;
  bottom: 2px;
  height: 2rem;
  position: relative;
  transition-duration: .2s;
  width: 35%;
}

.form-slider-login {
  right: 27%;
}

.form-slider-signup {
  left: 31.5%;
}

.form-slider-login,
.form-slider-signup {
  width: 30%;
}

.form-slider-login {
  text-align: right;
}

.form-slider-signup {
  text-align: left;
}

.login-input {
  border: none;
  font-size: 1rem;
  margin: 0 0 1.5rem 0;
  outline: none;
  text-align: left;
  text-indent: 1.5rem;
  width: 100%;
}

.login-input-placeholder {
  bottom: 3.5rem;
  height: 0;
  left: 1.5rem;
  color: black;
  position: relative;
  transition-duration: .2s;
}

.login-name:focus + .name-placeholder,
.login-email:focus + .email-placeholder,
.login-password:focus + .password-placeholder {
  bottom: 4.25rem;
  color: $fb-blue;
  font-weight: 700;
  font-size: 10px;
}


@keyframes flag-grid-slider {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1000% 0;
  }
}