.App {
  background: linear-gradient(to bottom, #84D2F6, cornflowerblue);
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.account-text {
  font-weight: 300;
  font-size: 1rem;
  margin: 0 8px;
  padding: 4px 0;
  text-align: right;
}