$btn-white: #e2e2e2;
$blue-accent: #59DBE6;
$btn-gray: #40404B;

* {
  font-family: 'Thasadith', sans-serif;
}

html {
  background-color: #33333D;
}

.App {
  background-color: #33333D;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.account-area {
  color: $blue-accent;
  display: inline-flex;
  justify-content: space-between;
  padding: 1rem 8px;
  text-shadow: 0 0 1rem black;
  width: calc(100% - 1rem);
  .back-button {
    height: 2rem;
    width: 2rem;
  }
  .account-text {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
    text-align: right;
  }
}

strong {
  text-shadow: none;
}

.hint-button {
  background-color: $btn-gray;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  color: $blue-accent;
  margin: 1.25rem auto;
  padding: 12px 0;
  text-align: center;
  text-shadow: 0 0 1rem black;
  width: 40%;
}

.button {
  background-color: $btn-gray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  color: $blue-accent;
  font-weight: 700;
  margin: 1.25rem auto;
  padding: 12px 0;
  text-align: center;
  width: 80%;
}