$btn-white: #e2e2e2;
$blue-accent: #59DBE6;
$btn-gray: #40404B;

* {
  font-family: 'Thasadith', sans-serif;
}

html {
  background-color: #33333D;
}

.App {
  background-color: #33333D;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

strong {
  text-shadow: none;
}

.button {
  background-color: $btn-gray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  color: $blue-accent;
  font-weight: 700;
  margin: 1.25rem auto;
  padding: 12px 0;
  text-align: center;
  width: 80%;
}

@media screen and (min-width: 535px) {
  .button:hover {
    background-color: $blue-accent;
    color: $btn-gray;
    cursor: pointer;
  }
}